* {
  font-family: "Truculenta", sans-serif;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 50px !important;
  margin: 10px 20px;
}

.row {
  width: 100vw;
}
.card {
  background-color: #2d2d2d;
  color: #fafafa;
  border-radius: 10px !important;
  margin: 20px 30px;
  height: 185px;
  width: 50%;
  display: flex;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-page {
  height: calc(100vh - 60px);
  display: grid;
  align-items: center;
  justify-content: center;
}
